{#
/**
 * @file menu_megadrop.html.twig
 * Default theme implementation to present Menu megadrop data.
 *
 * This template is used when viewing Menu megadrop pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_menu_megadrop()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('menu-megadrop') }}>
  <div class="menu-megadrop__inner">
    {% if content %}
      {{- content -}}
    {% endif %}
  </div>
</div>
